.left-side{
    border: 1px solid violet;
    margin-top: 10px;
    border-radius: 10px;
}
.Hero-btn{
    width: 150px;
    height: 40px;
    background-color:orange;
    border-radius: 5px;
   
}
.side-cart{
    background-color:rgb(230, 188, 195);
    width: 315px;
    height: 100%;
    margin-top: 10px;
    margin-left: 5px;
}